{% extends 'leagueTables/base.html' %}
{% load mathfilters %}
{% with "1" as posicao %}
{% endwith %}



{% block main %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">JD</th>
      <th scope="col">Vitórias</th>
      <th scope="col">Empates</th>
      <th scope="col">Derrotas</th>
      <th scope="col">GM</th>
      <th scope="col">GS</th>
      <th scope="col">DG</th>
      <th scope="col">Pontos</th>
    </tr>
  </thead>
  <tbody>
  {% for classificacao in classificacoes %}
      <!-- <p>{{ liga.listaEquipas.all }}</p> -->
      <tr>
        <th scope="row"> {{forloop.counter}}</th>
        <td>{{ classificacao.clube.nome }}</td>
        <td>{{ classificacao.jogosDisputados }}</td>
        <td>{{ classificacao.vitorias }}</td>
        <td>{{ classificacao.empates }}</td>
        <td>{{ classificacao.derrotas }}</td>
        <td>{{ classificacao.golosMarcados }}</td>
        <td>{{ classificacao.golosSofridos }}</td>
        <td>{{ classificacao.diferencaDeGolos }}</td>
        <td>{{ classificacao.pontos }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
  

{% for jornada in jornadas %}
<div class="mt-4 p-5 bg-primary text-white rounded">
  <p>Jornada {{forloop.counter}}</p>
  {% for jogo in jogos %}
    {% if jogo.jornada == jornada %}
      {% if jogo.concluido %}
        <p class="bg-info" style="color:black"><a href="{% url 'leagueTables:simulaJogo' jogo.id %}" class="btn btn-warning btn-sm" style="float: right; margin-right: 10px">Simular </a>{{ jogo.golosCasa }} {{ jogo }} {{ jogo.golosFora }}</p>
      {% else %}
        <p class="bg-light" style="color:black"><a href="{% url 'leagueTables:simulaJogo' jogo.id %}" class="btn btn-warning btn-sm" style="float: right; margin-right: 10px">Simular </a>{{ jogo.golosCasa }} {{ jogo }} {{ jogo.golosFora }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endfor %}
     

  
  
  
  <h1 class="bg-info  margin-bottom: 5px"><a href="{% url 'leagueTables:simulaLiga' liga.id %}" class="btn btn-warning btn-sm" style="float: right; margin-right: 10px;">Simular Liga</a></h1>
  <h1 class="bg-info  margin-bottom: 5px"><a href="{% url 'leagueTables:clear' liga.id %}" class="btn btn-warning btn-sm" style="float: right; margin-right: 10px;">Clear</a></h1>

{% endblock %}